a {
    font-family: Roboto;
    font-weight: 700;
    text-decoration: underline;
    color: #111;
}
p {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #111;
    float: right;
}

.p-white {
    color: white;
}
.p-center {
    text-align: center;
    padding: 0 10% 0 10%;
    margin-bottom: 40px;
}

.column {
    min-height: 80vh;
    height: 100%;
}

.column-fixed {
    width: 45%;
    position: fixed;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    z-index: 10;
    padding: 5vh 0 5vh 0;

}

.column-scroll {
    width: 55%;
    float: right;
    min-height: 100vh;
    background-color: #111;
}

.title-left {
    font-family: 'Fira Sans', 'Roboto', 'Arial', sans-serif;
    font-weight: 900;
    font-size: 11vw;
    letter-spacing: -0.025em;
    color: #111;
    line-height: 0.725em;
    text-align: center;
    display: block;

}

.title-left-small {
    font-size: 10.5vw;
    margin-bottom: 0.25em;
}

.card-dark {
    position: relative;
    width: 100%;
    height: 400px;
    min-height: 50vh;
    max-height: 95vh;
}

.overlay {
    background-color: #2529d8;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fira Sans', 'Roboto', sans-serif;
    font-size: 90px;
    color: white;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    z-index: 15;
}
.card-dark:hover .overlay {
    opacity: 0.85;
}
.img-cover {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shadow-inset {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.5);
    z-index: 5;
}

.btn {
    font-family: 'Fira Sans';
    font-weight: 900;
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    font-family: Roboto;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    background-color: #111;
    margin: 8px 5px 8px 5px;
    transition: background-color 0.2s ease
}

.btn:hover {
    background-color: black;
}

#anaglyph-logo {
    width: 30%;
}

i {
    font-family: jdFontAwesome;
    display: inline-block;
    float: left;
    padding: 0 10px 0 10px;
    font-size: 30px;
}

@media screen and (min-width: 1920px) {
    .title-left {
        font-size: 230px !important;
    }
    .title-left-small {
        font-size: 200px !important;
    }
    #anaglyph-logo {
        width: 300px;
    }
}

@media screen and (max-width: 991px) {
    .column {
        width: 100%;
        position: static;
        height: auto;
    }

    .title-left {
        font-size: 27vw;
    }

    .title-left-small {
        font-size: 23.4vw;
    }
}